*.dll
*.exe
*.o
*.so
cmake-build-debug 
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.log
.DS_Store
.DS_Store?
.Trashes
*.gcda
src/cinnamon
libCinnamon.a
.idea/
